<footer class="footer">
  <div class="footer-main-container">
   <div class="footer-contents">
    <p>Узнайте, как пройти вакцинацию на сайте</p>
    <div class="foot-logo">
      <a href="http://goo.gl/YFc92Q" target="_blank"><img src="../../assets/img/footer-logo.png" alt="foot-logo" width="140"></a>
    </div>
    </div>
  </div>
</footer>