 <div class="modal-header">
     <span href="" class="list-vax-icon vax-icon modal-icon"></span>
     <span href="" class="list-vax-icon vax-icon modal-icon"></span>
     <span href="" class="list-vax-icon vax-icon modal-icon"></span>
     <span href="" class="list-vax-icon vax-icon modal-icon"></span>
     <span href="" class="list-vax-icon vax-icon modal-icon"></span>   
        </div>
        <div class="modal-body">
            <div>Скоро начнётся эпидемия и у вас есть пять вакцин. Постарайтесь эффективно использовать их, чтобы свести заражение к минимуму.</div>
        </div>
        <div class="modal-footer">
            <button class="buttons button-modal" type="button" ng-click="modal.close()">Понятно. Начать игру!</button>
        </div>