 <div class="modal-header">
     <h2>Игра закончена</h2>  
        </div>
        <div class="modal-body">
            <div>Игра закончена. Нажмите кнопку чтобы смотреть результаты.</div>
        </div>
        <div class="modal-footer">
            <button class="buttons button-modal" type="button" ng-click="modal.resultClose()">Понятно. Смотреть результаты!</button>
        </div>