 <div class="modal-header">
     <span href="" class="list-vax-icon immun-icon modal-icon"></span> 
        </div>
        <div class="modal-body modal-cure-body">
            <div>Вы можете дать иммунитет любому незаражённому другу на 3 хода. Нажмите на иммунитет слева вверху чтобы его активировать.</div>
        </div>
        <div class="modal-footer">
            <button class="buttons button-modal button-cure-modal" type="button" ng-click="modal.close()">Понятно. Продолжить игру!</button>
        </div>