 <div class="modal-header">
     <h2>Страшный вирус!</h2>  
        </div>
        <div class="modal-body">
            <div>Вам даётся 10 секунд, чтобы отправить людей в карантин. После этого начнёт распространяться вирус. Торопитесь!</div>
        </div>
        <div class="modal-footer">
            <button class="buttons button-modal" type="button" ng-click="modal.hardLevelClose()">Понятно. Продолжить игру!</button>
        </div>