 <div class="modal-header">
     <span href="" class="list-vax-icon replace-icon modal-icon"></span> 
        </div>
        <div class="modal-body modal-cure-body">
            <div>Вы можете вылечить любого друга. Нажмите слева вверху, чтобы выбрать этот инструмент.</div>
        </div>
        <div class="modal-footer">
            <button class="buttons button-modal button-cure-modal" type="button" ng-click="modal.close()">Понятно. Продолжить игру!</button>
        </div>