 <div class="modal-header">
     <span href="" class="list-vax-icon carant-icon modal-icon"></span>  
        </div>
        <div class="modal-body">
            <div>Эпидемия в разгаре. Сейчас уже поздно использовать вакцинацию. Но можно отправлять друзей в карантин, чтобы защитить других от заражения.</div>
        </div>
        <div class="modal-footer">
            <button class="buttons button-modal" type="button" ng-click="modal.close()">Понятно. Продолжить игру!</button>
        </div>