 <div class="modal-header">
     <span href="" class="list-vax-icon refuser-icon modal-icon"></span> 
        </div>
        <div class="modal-body modal-cure-body">
            <div>Некоторые люди отказались от вакцинации.</div>
        </div>
        <div class="modal-footer">
            <button class="buttons button-modal button-cure-modal" type="button" ng-click="modal.close()">Понятно. Начать игру!</button>
        </div>