 <div class="modal-header">
     <span href="" class="list-vax-icon drug-icon modal-icon"></span> 
        </div>
        <div class="modal-body modal-cure-body">
            <div>Вакцинация не поможет в разгар эпидемии, но у вас есть лекарство. Нажмите на лекарство слева вверху, чтобы его активировать.</div>
        </div>
        <div class="modal-footer">
            <button class="buttons button-modal button-cure-modal" type="button" ng-click="modal.close()">Понятно. Продолжить игру!</button>
        </div>