 <div class="modal-header">
     <h2>Игра закончена!</h2>  
        </div>
        <div class="modal-body">
            <div>Игра закончена, нажмите кнопку чтобы смотреть результаты.</div>
        </div>
        <div class="modal-footer">
            <button class="buttons button-modal button-tutorial" type="button" ng-click="modal.tutorialClose()">Понятно. Смотреть результаты.</button>
        </div>