<nav class="navbar navbar-default navbar-fixed-top">
  <div class="topbar-main-container">
    <div class="navbar-header">
      <a href="/#/" class="navbar-brand">
        <div class="logotype">
          <img src="../../assets/img/logotype.png" alt="logotype" width="125">
        </div>
      </a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="menu-button"></span> Меню</a>
          <ul class="dropdown-menu">
            <li><a href="/#/game" ng-click="main.game.startGame();">Новая игра</a></li>
            <li><a ng-click="main.game.choice=undefined;main.game.page=1;" href="/#/game">Выбрать уровень</a></li>
            <li><a ng-click="main.game.tutorialStart();" href="/#/tutorial">Помощь</a></li>
          </ul>
        </li>
      </ul>
    </div>
    
  </div>
</nav>