/* font-family: "ProximaNovaRegular"; */
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaBold"; */
@font-face {
    font-family: "ProximaNovaBold";
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaBlack"; */
@font-face {
    font-family: "ProximaNovaBlack";
    src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
    src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
    url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GothamProRegular"; */
@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBold"; */
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBlack"; */
@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamProBlack/GothamProBlack.eot");
    src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
    url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProItalic"; */
@font-face {
    font-family: "GothamProItalic";
    src: url("../fonts/GothamProItalic/GothamProItalic.eot");
    src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
    url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMedium"; */
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLight"; */
@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMediumItalic"; */
@font-face {
    font-family: "GothamProMediumItalic";
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLightItalic"; */
@font-face {
    font-family: "GothamProLightItalic";
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBoldItalic"; */
@font-face {
    font-family: "GothamProBoldItalic";
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBlackItalic"; */
@font-face {
    font-family: "GothamProBlackItalic";
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Digital"; */
@font-face {
    font-family: "Digital";
    src: url("../fonts/DSDIGI/DSDIGI.eot");
    src: url("../fonts/DSDIGI/DSDIGI.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DSDIGI/DSDIGI.woff") format("woff"),
    url("../fonts/DSDIGI/DSDIGI.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(34,92,107);
}

table{
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.main-container{
  position: fixed;
  top: 0;
  pointer-events: none;
  width: 100%;
}

.welcome-container{
  margin-top: 10%;
  text-align: center;
  pointer-events: all;
}

.choice-container{
  margin-top: 10%;
        z-index: 1000;
    position: relative;
  pointer-events: all;
}

.results-container{
  margin-top: 5%;
        z-index: 1000;
    position: relative;
  pointer-events: all;
  font-family: "GothamProRegular";
}

.results-container .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 4px;
  border-top-color: rgba(255,255,255,.2);
}

.results-container .table>tbody>tr:first-child>td{
  border: none;
}

.results-container .table>tbody>tr:first-child>td:first-child{
  padding-left: 6px;
}

.results-container .table{
  margin-top: -17px;
}

.result-container{
    margin-top: 7%;
        position: relative;
    z-index: 1000;
  pointer-events: all;
}

.container-priv {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.navbar-nav>li>.dropdown-menu{
 margin-right: 15px;
    border-radius: 4px;
    background-color: rgb(230,230,230);
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
}

.navbar-nav>li>.dropdown-menu li{
        border-bottom: 1px solid rgba(0,0,0,.1);
}

.navbar-nav>li>.dropdown-menu li:last-child{
    border-bottom: none;
}

.navbar-nav>li>.dropdown-menu li:first-child>a:before{
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgb(230,230,230);
    top: -6px;
    right: 32px;
    position: absolute;
}

.topbar-container{
  pointer-events: all;
}


.topbar-container .navbar-header{
      margin-left: -17px;
}

.dropdown-menu>li>a{
  font-size: 11px;
  font-family: "GothamProRegular";
  padding: 7px 10px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  background-color: rgb(60,157,184);
  color: white;
}

.dropdown-menu>li:first-child>a:focus, .dropdown-menu>li:first-child>a:hover{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dropdown-menu>li:last-child>a:focus, .dropdown-menu>li:last-child>a:hover{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.navbar-nav>li>.dropdown-menu li:first-child>a:hover:before{
    border-bottom: 7px solid rgb(60,157,184);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
      background-color: transparent;
  color: white;
}

.navbar-default .navbar-nav>li>a{
  font-family: "GothamProRegular";
  font-size: 1.5rem;
  color: white;
}

.navbar-default .navbar-nav>li>a>i{
  width: 18px;
  font-size: 1.7rem;
}

.vax-editor {
    position: fixed;
    width: 75%; 
    height: 100%;
    margin-left: 12.5%;
  z-index: 1000;
  pointer-events: all;
}
  
.tutorial-editor {
    position: fixed;
    width: inherit; 
    height: 45%;
  z-index: 1000;
  margin-top: -8%;
  pointer-events: all;
}
  

.topbar-container .navbar-default{
  background-color: transparent;
  border-color: transparent;
}

svg .underlay {
  fill: none;
  stroke: none;
  pointer-events: all !important;
}

svg .bg-underlay {
  stroke: none;
  pointer-events: all !important;
}

#svg-bg{
  width: 100%;
  margin-bottom: -3px;
}

.bg-parallax{
  width: inherit;
  height: inherit;  
}

#svg-result{
  width: 100%;
  height: 100%;
  margin-top: -19%;
}

.result-diagram{
  width: 70%;
  float: left;
    position: relative;
}

.node{
  stroke-width: 2;
}

.negative{
  stroke-width: 3;
}

.finish-text{
      position: absolute;
    margin-left: 8px;
    width: 145px;
    margin-top: 10px;
    font-family: cursive;
    font-size: 23px;
   color: whitesmoke;
}


.list-vax{
    z-index: -1;
    position: absolute;
    left: -150px;
    width: 173px;
    top: -40px;
    margin-top: 150px;
    font-family: cursive;
    font-size: 14px;
    font-family: "GothamProRegular";
    color: white;
}

.list-vax ul{
    list-style: none;
    padding: 0;
}

.list-vax-text{
    margin-left: 6px;
    margin-top: 5px;
    display: block;
}

a.disabled{
  color: wheat;
}

a {
  color: whitesmoke;  
}

.game-topbar-container .navbar-fixed-top, .tutorial-topbar-container .navbar-fixed-top{
  z-index: 1;
}


.tutorial-info{
    position: relative;
    color: white;
 width: 56%;
    margin-left: 22%;
    margin-bottom: -30px;
    font-family: "GothamProRegular";
  font-size: 1.6rem;
}

.prev-next-buttons, .skip-button{
  position: relative;
}

.next-button-link{
  float: right;
  margin-bottom: 17px;
    margin-top: -10px;
    font-family: "GothamProRegular";
  font-size: 1.5rem;
    margin-right: 5px;
}
.prev-button-link{
  float: left;
  margin-bottom: 17px;
    margin-top: -10px;
    font-family: "GothamProRegular";
  font-size: 1.5rem;
    margin-left: 5px;
}

.next-button-link i, .prev-button-link i{
        font-size: 1.22em;
}    

.next-button-link:hover>i, .prev-button-link:hover>i, .next-button-link:focus>i, .prev-button-link:focus>i, .next-button-link:active>i, a.prev-button-link:active>i, a.next-button-link:hover, a.prev-button-link:hover, a.next-button-link:focus, a.prev-button-link:focus, a.next-button-link:active, a.prev-button-link:active{
     color: rgb(65,171,201);
      text-decoration: none;
}

.skip-button{
    font-family: "GothamProRegular";
  font-size: 1.2rem;
    color: rgb(65,171,201);
    text-decoration: underline;
    
}

.prev-next-buttons-line{
      clear: both;
    margin-bottom: 24px;
    margin-top: 28px;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,.2);
}

.info-five{
     width: 165%;
    margin-left: -31%;
}

.welcome-container .page-header{
    text-align: center;
    border: none;
}

.footer-contents{
          width: 144px;
}

.footer-container{
  pointer-events: all;
    width: 98%;
    margin-left: 1%;
}

.footer{
  margin-bottom: 20px;
}

.topbar-main-container{
    width: 98%;
    margin-left: 1%;
}

.footer-contents p{
  font-size: 1rem;
  font-family: "GothamProRegular";
  color: rgba(255, 255, 255, 0.702);
  text-transform: uppercase;
  line-height: 1.385;
  text-align: center;
}

.choice-container .page-header{
  text-align: center;
  font-family: "GothamProRegular";
  color: rgb(255, 255, 255);
  border-bottom-color: rgba(255,255,255,.4);
}

.results-container .page-header{
  text-align: center;
  font-family: "GothamProRegular";
  color: rgb(255, 255, 255);
}

.choice-container hr{
  border-color: rgba(255,255,255,.4);
}

.choice-container .page-header h1, .results-container .page-header h1{
  font-size: 2.5rem;
}

.result-container .page-header{
  text-align: center;
  font-family: "GothamProRegular";
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

.title-detail{
  font-family: "GothamProRegular";
  font-size: 1.2rem;
}

.diagram-foot-text{
  position: relative;
    display: block;
    font-family: "GothamProRegular";
    font-size: 1.1rem;
    color: white;
    width: 0;
    left: 9px;
}

.foot-diag-1{
  left: 62.5%;
}

.foot-diag-2{
  left: 77%;
}

.result-container .page-header h1{
  font-size: 2.5rem;
}

.game-diff-icon{
    width: 101px;
    height: 93px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.primary-icon{
    background-image: url('../img/icon-primary.png');
}

.primary-icon:hover, .primary-icon:active, .primary-icon:focus{
  background-image: url('../img/icon-primary-active.png');
}

.primary-icon-active{
    background-image: url('../img/icon-primary-active.png');
}

.easy-icon{
    background-image: url('../img/icon-easy.png');
}

.easy-icon-active{
    background-image: url('../img/icon-easy-active.png');
}

.easy-icon-deactive{
    background-image: url('../img/icon-easy-disable.png');
}

.easy-icon:hover, .easy-icon:active, .easy-icon:focus{
  background-image: url('../img/icon-easy-active.png');
}

.normal-icon{
    background-image: url('../img/icon-normal.png');
}

.normal-icon-active{
    background-image: url('../img/icon-normal-active.png');
}

.normal-icon-deactive{
    background-image: url('../img/icon-normal-disable.png');
}

.normal-icon:hover, .normal-icon:active, .normal-icon:focus{
  background-image: url('../img/icon-normal-active.png');
}

.hard-icon{
    background-image: url('../img/icon-hard.png');
}

.hard-icon-active{
    background-image: url('../img/icon-hard-active.png');
}

.hard-icon-deactive{
    background-image: url('../img/icon-hard-disable.png');
}

.hard-icon:hover, .hard-icon:active, .hard-icon:focus{
  background-image: url('../img/icon-hard-active.png');
}

.menu-button{
  background-image: url('../img/menu.png');
      display: block;
    background-repeat: no-repeat;
    background-size: contain;
      height: 12px;
    width: 27px;
    margin-top: 3px;
    float: left;
}

.arrow-left-icon, .arrow-right-icon{
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
      height: 11px;
    width: 24px;
    margin-top: 4px;
}

.arrow-left-icon{
    background-image: url('../img/left-arrow.png');
  float: left;
  margin-left: 2px;
}

.arrow-right-icon{
  background-image: url('../img/right-arrow.png');
  float: right;
    margin-left: 12px;
    width: 16px;
}

.choice-diff-list li{
  margin-right: 1rem;
  margin-left: 1.2rem;
}

.submit-choice{
  text-align: center;
}

.result-buttons{
    text-align: center;
    clear: both;
}

.result-container{
  width: 60%;
  margin-left: 20%;
}

.result-desc-text{
  position: relative;
    color: white;
    font-family: "GothamProRegular";
    top: 22px;
    font-size: 1.4rem;
}

.result-info{
      margin-bottom: 22%;
}

.tutorial-result-text{
  position: relative;
}

.tutorial-diagram-text{
      color: white;
    width: 0;
    display: block;
    position: relative;
    left: 247px;
    top: 28px;
}

.tutorial-result-cong{
  color: white;
  font-family: "GothamProRegular";
      font-size: 1.5rem;
    position: relative;
    width: 55%;
    top: 63px;
    left: 146px;
}

.tutorial-result-text a{
  top: 103px;
  position: relative;
}

.welcome-text{
  font-size: 20px;
  font-family: "GothamProRegular";
  color: rgb(255, 255, 255);
  line-height: 1.4;
  text-align: center;
      width: 81%;
    margin-left: 9.5%;
    text-align: center;
}

.buttons{
  font-family: "GothamProRegular";
  line-height: 1.4;
  text-align: center;
   background-color: transparent; 
    color: white; 
    border: 2px solid rgb(65,171,201);
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 12px;
    cursor: pointer;
    border-radius: 18px;
}

.buttons:hover, .buttons:active, .buttons:focus{
  text-decoration: none;
  color: rgb(65,171,201);
}

.welcome-buttons{
  margin-top: 40px;  
}

.welcome-buttons i{
  font-size: 19px;
  color: rgb(65,171,201);
}

.welcome-text .viavk-text{
  color: rgb(65,171,201);
  text-decoration: underline;
}

.d3-tip {
  text-align: center;
  line-height: 1;
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  font-family: "GothamProMedium";
  pointer-events: none;
  z-index: 1000;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.infected-tip{
  background: rgba(255,0,0,0.8);
  color: white;
}
.immun-tip{
  background: rgba(0,0,255,0.8);
  color: white;
}
.refuser-tip{
  background: rgba(255, 165, 0,0.8);
  color: white;
}
.carant-tip{
  background: rgba(0,0,255,0.8);
  color: white;
}
.vaxed-tip{
  background: rgba(0,128,0,0.8);
  color: white;
}

.infected-tip:after{
  color: rgba(255,0,0,0.8);
}
.immun-tip:after{
  color: rgba(0,0,255,0.8);
}
.refuser-tip:after{
  color: rgba(255, 165, 0,0.8);
}
.carant-tip:after{
  color:rgba(0,0,255,0.8);
}
.vaxed-tip:after{
  color:rgba(0,128,0,0.8);
}

.d3-tip p{
  padding: 0;
  margin: 0;
}

.d3-tip p:nth-child(2){
  margin-top: 5px;
  font-size: 12px;
  font-family: "GothamProLight";
}

.button-wider{
    padding: 3px 50px;
}

.button-choice{
    margin-top: 30px;
    padding: 3px 95px;
}

.button-result-left{
    margin-right: 4px;
    margin-left: 4px;
    padding: 3px 73px;
}

.button-result-right{
    margin-right: 4px;
    margin-left: 4px;
    padding: 3px 88px;
}

.share-icons{
  border-top: 1px solid rgba(255,255,255,0.4);
    width: 100%;
    position: relative;
    padding-top: 20px;
    clear: both;
}

.results-share-icons{
  border-top-color: white;
  margin-top: -17px;
}

.share-icons-list{
    list-style: none;
    float: right;
    margin-bottom: 15px;
}

.share-icons-list li{
    display: inline-block;
    margin-right: 7px;
}

.share-icon{
    width: 47px;
    height: 46px;
    background-image: url(../img/share-icons.png);
    background-repeat: no-repeat;
}

.share-text{
     position: relative;
    top: -17px;
    font-family: "GothamProRegular";
    font-size: 15px;
    color: white;
}

.fb-icon{
    background-position: -57px;
}
.tw-icon{
    background-position: -114px;
}

.list-vax-icon{
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 32px;
    display: inline-block;
}

.vax-icon{
    background-image: url(../img/vax.png);
    background-size: cover;
    width: 32px;
}


.vax-info{
    position: absolute;
    top: 280px;
    left: -200px;
}

.drug-icon{
    background-image: url(../img/pill-icon.png);
    margin-left: 7px;
    margin-top: 7px;
}

.immun-icon{
    background-image: url(../img/immun-icon.png);
    margin-left: 7px;
    margin-top: 7px;
}

.replace-icon{
    background-image: url(../img/replace-icon.png);
    margin-left: 7px;
    margin-top: 7px;
}

.refuser-icon{
    background-image: url(../img/orange-circle.png);
    margin-left: 7px;
    margin-top: 7px;
}

.vax-icon-deactive, .drug-icon-deactive, .immun-icon-deactive, .replace-icon-deactive{
   opacity: .5;
}

.modal-content{
    background-color: rgba(65,171,201,.9);
        color: white;
        padding: 0px 42px;
    font-family: "GothamProRegular";
}

.modal-header, .modal-footer{
    border: none;
    text-align: center;
}

.modal-header{
    margin-bottom: -13px;
    margin-top: 8px;
}

.modal-dialog{
    margin-top: 13%;
        width: 40%;
}

.button-modal{
        border-color: white;
    padding: 3px 90px;
    font-size: 15px;
}

.button-tutorial{
    padding: 3px 40px;
}

.modal-icon{
        width: 39px;
    height: 45px;
    margin-left: -12px;
}

.carant-icon{
    background-image: url(../img/quarantine.png);
        width: 45px;
    height: 45px;
}

.modal-quarant .modal-content {
    background-color: rgba(110,168,57, .9);
    padding: 0px 22px;
}

.modal-quarant .modal-header{
    margin-bottom: -20px;
}

.modal-quarant .modal-body{
        font-size: 15px;
    text-align: center;
}

.modal-quarant .button-modal {
    padding: 3px 70px;
}

.diff-icon-text{
    font-size: 13px;
    font-family: "GothamProRegular";
    color: white;
    display: block;
    margin-top: 20px;
    text-align: center;
}

.tutorial-vax-text{
    color: white;
    font-family: "GothamProRegular";
        width: 70px;
}

.game-timeout{
    position: absolute;
    right: -214px;
    margin-top: 150px;
    width: 173px;
    height: 50px;
    top: -40px;
    color: white;
    font-family: "Digital";
    font-size: 30px;
}

.game-spinner{
    position: absolute;
    right: 41%;
    margin-top: 150px;
    width: 173px;
    height: 50px;
    top: 10%;
    color: white;
    font-family: "GothamProRegular";
    font-size: 30px;
}

.last-vax-icon{
    margin-right: -4px;
}

.modal-cure-body{
        padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.button-cure-modal{
           padding: 3px 60px;
}

.game-logo img{
    margin: 0 auto;
}

.choice-diff-list{
    text-align: center;
}

.nav.navbar-right{
    margin-top: 15px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color:white;
}

.modal-hard-level .modal-content{
    background-color: rgba(255,0,0,.9);
}
@media (min-width: 768px){
  .navbar-right {
      margin-right: -5px;
  }
}

@media only screen and (max-device-width: 532px) and (orientation:portrait){
    .welcome-container .page-header {
        width: 50%;
    margin-left: 25%;
    }
    .welcome-text {
    font-size: 1.6rem;
    }
    .footer-contents {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
    .footer {
    margin-bottom: 70px;
      width: 100%;
}
    .footer .footer-main-container{
        border-top: 1px solid rgba(255,255,255,.2);
    width: 80%;
        margin-left: 10%;
    padding-top: 30px;
    }
}

@media only screen and (min-device-width:481px) and (max-device-width:800px) and (orientation:portrait){
    .navbar-nav>li>a {
    float: right;
}

.result-container{
    width: 100%;
    margin: 0;
}
    .result-info {
    margin-bottom: 37%;
}
    .modal-dialog{
            width: 65%;
    }
    .list-vax ul {
        margin-left: 35%;
}
}

@media only screen and (min-device-width:481px) and (max-device-width:1024px) and (orientation:landscape){
    .choice-container{
        width: 65%;
        margin-left: 17.5%;
    }
  .results-container{
        width: 65%;
        margin-left: 17.5%;
    }
    .modal-dialog{
            width: 50%;
    }
    .result-container {
    width: 80%;
    margin-left: 10%;
}
    .list-vax ul {
        margin-left: 35%;
}
    .vax-icon {
        width: 28px;
    }
    .list-vax-icon{
        width: 28px;
    }
    .list-vax ul {
        margin-left: 14%;
}
    .list-vax-text {
            font-size: 12px;
    }
}
