<div 
  class="topbar-container game-topbar-container" 
  ng-include="'views/includes/topbar.html'">
</div> 

<div class="game-choicepage container" ng-show="main.game.page==1" ng-init="main.game.tutorialInit();">
  <div class="choice-container row col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <div class="page-header">
      <h1>Выберите уровень сложности</h1>
    </div>
    <ul class="list-inline choice-diff-list">
      <li><a href="" ng-click="main.game.choice='0';main.game.activeClass(0);"><div class="game-diff-icon" ng-class="main.game.choice=='0' ? 'primary-icon-active' : 'primary-icon'"></div></a><span class="diff-icon-text">Начальный</span></li>
      <li><a href="" ng-click="main.game.choice='1';main.game.activeClass(1);"><div class="game-diff-icon" ng-class="main.game.diffPer.easy ? 'easy-icon' : 'easy-icon-deactive'"></div></a><span class="diff-icon-text">Обычный</span></li>
      <li><a href="" ng-click="main.game.choice='2';main.game.activeClass(2);"><div class="game-diff-icon" ng-class="main.game.diffPer.normal ? 'normal-icon' : 'normal-icon-deactive'"></div></a><span class="diff-icon-text">Продвинутый</span></li>
      <li><a href="" ng-click="main.game.choice='3';main.game.activeClass(3);"><div class="game-diff-icon" ng-class="main.game.diffPer.hard ? 'hard-icon' : 'hard-icon-deactive'"></div></a><span class="diff-icon-text">Сложный</span></li>
    </ul>
    <hr/>
    <div class="submit-choice">
      <a class="buttons button-choice" href="" ng-click="main.game.startGame();">Начать игру</a>
    </div>
  </div>
</div>

<div class="game-mainpage" ng-show="main.game.page==2">
  <div class="vax-editor" data-vax-editor>
    <div class="list-vax" ng-show="vkDataLoaded!=undefined">
      <ul>
       <li ng-show="editor.vax>0">
       <span class="list-vax-icon vax-icon" ng-class="{'last-vax-icon': $last}" ng-repeat="vaxIcon in range(editor.vax) track by $index"></span>
       <span class="list-vax-icon vax-icon vax-icon-deactive" ng-repeat="vaxIcon in range(editor.vaxNum-editor.vax) track by $index"></span>
       <span class="list-vax-text">Осталось вакцин: {{editor.vax}}</span></li>
       <li ng-show="editor.vax<1"><span class="list-vax-icon carant-icon"></span><span class="list-vax-text">Режим карантина : {{editor.carant}}</span></li>
       <li ng-show="editor.diffucilty>0 && editor.vax<-2 && editor.diffucilty<3 || editor.diffucilty==3  && !game.showTimeout && editor.vax<-2">
       <a href="" class="list-vax-icon drug-icon" ng-class="{'last-vax-icon': $last}" ng-click="editor.cureOn()" ng-repeat="cureIcon in range(editor.cure) track by $index"></a>
       <a href="" class="list-vax-icon drug-icon drug-icon-deactive" ng-click="editor.cureOn()" ng-repeat="cureIcon in range(editor.cureNum - editor.cure) track by $index"></a>
       <span class="list-vax-text">Осталось лекарств: {{editor.cure}}</span></li>
       <li ng-show="editor.diffucilty>1 && editor.vax<-2 && editor.diffucilty<3 || editor.diffucilty==3  && !game.showTimeout && editor.vax<-2">
       <a href="" class="list-vax-icon immun-icon" ng-class="{'last-vax-icon': $last}" ng-click="editor.immunOn()" ng-repeat="immunIcon in range(editor.immun) track by $index"></a>
       <a href="" class="list-vax-icon immun-icon immun-icon-deactive" ng-click="editor.immunOn()" ng-repeat="immunIcon in range(editor.immunNum - editor.immun) track by $index"></a>
       <span class="list-vax-text">Осталось  иммунитета: {{editor.immun}}</span></li>
       <li ng-show="editor.diffucilty>1 && editor.vax<-2 && editor.diffucilty<3 || editor.diffucilty==3  && !game.showTimeout && editor.vax<-2">
       <a href="" class="list-vax-icon replace-icon" ng-class="{'last-vax-icon': $last}" ng-click="editor.changeOn()" ng-repeat="replaceIcon in range(editor.changes) track by $index"></a>
       <a href="" class="list-vax-icon replace-icon replace-icon-deactive" ng-click="editor.changeOn()" ng-repeat="replaceIcon in range(editor.changesNum-editor.changes) track by $index"></a>
       <span class="list-vax-text">Осталось замен: {{editor.changes}}</span></li>
     </ul>
    </div>
    <div class="game-timeout" ng-show="game.showTimeout">{{game.timeoutText}}</div>
    <div class="game-spinner" ng-show="vkDataLoaded==undefined">
        <img src="../assets/img/cube.gif" alt="spinner">
    </div>
  </div>
</div>

<div class="game-resultpage container" ng-show="main.game.page==3">
  <div class="result-container" data-result-diagram>
    <div class="page-header">
      <h1>Ваши результаты</h1>
    </div>
    <div class="result-info">
    <div class="result-diagram">
      <span class="diagram-foot-text">Распределение результатов</span>
      <span class="diagram-foot-text foot-diag-1">Текущий результат</span>
      <span class="diagram-foot-text foot-diag-2">Лучший результат</span>
    </div>
    <div class="result-desc-text">К счастью, вы были вакцинированы! Благодаря этому и тому, что вы так энергично боролись с эпидемией, вы смогли получить эти результаты!</div>
    </div>
    <div class="share-icons">
         <ul class="share-icons-list">
                <li class="share-text">Поделиться: </li>
                 <li>
                     <a href="" ng-click="share.vk()"><div class="share-icon vk-icon"></div></a>
                 </li>
             
                 <li>
                    <a href="" ng-click="share.fb()"><div class="share-icon fb-icon"></div></a>
                 </li>
                 <li>
                     <a href="" ng-click="share.tw()"><div class="share-icon tw-icon"></div></a>
                 </li> 
         </ul>
         <div class="vk-ico"></div>
         <div class="fb-ico"></div>
         <div class="tw-ico"></div>
      </div>
    <div class="result-buttons">
      <a href="" class="buttons button-result-left" ng-click="main.game.startGame();">Попробовать еще раз</a>
      <a href="" class="buttons button-result-right" ng-show="result.nextVirus" ng-click="main.game.startGame('next');">Следующий вирус</a>
      <a href="/#/results" class="buttons button-result-right" ng-show="game.vkAuthed" ng-click="result.saveResults()">Сохранить результат</a>  
    </div>
  </div>
</div>


<div 
  class="footer-container" 
  ng-include="'views/includes/footer.html'">
</div>