<div class="container" ng-init="main.game.restart();">
  <div class="welcome-container row col-md-6 col-md-offset-3">
    <div class="page-header">
      <div class="game-logo">
        <img class="img-responsive" src="../assets/img/logo.png" alt="logo" width="223" height="90">
      </div>
    </div>
    <p class="lead welcome-text" ng-show="!main.mobile">Привет. Это игра про то, как вакцинация помогает ограничить распространение инфекций среди ваших друзей. Если <span class="viavk-text">войти через ВК</span>, играть будет интереснее.</p>
    <p class="lead welcome-text" ng-show="main.mobile">К сожалению, эта игра не работает на телефоне. Пожалуйста, зайдите используя устройство с экраном побольше.</p>
    <div class="welcome-buttons" ng-show="!main.mobile"> 
     <a href="" ng-click="main.vkAuth()" class="buttons">Войти через <i class="fa fa-vk" aria-hidden="true"></i></a>
     <a href="/#/tutorial" ng-click="game.vkAuthed=false;" class="buttons">Играть просто так</a>
    </div>
  </div>
</div>
<div 
  class="footer-container" 
  ng-include="'views/includes/footer.html'">
</div>