<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'">
</div>

<div class="container" data-results-server>
  <div class="results-container row col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <div class="page-header">
      <h1>Таблица результатов</h1>
    </div>
    <table class="table">
      <tr ng-repeat="result in results | orderBy:order | limitTo:quantity">
        <td>{{$index+1}}</td>
        <td>{{result.name}} {{result.surname}}</td>
        <td>{{result[resultData.diff]}}%</td>
        <td>{{result.mainResult}}</td>
      </tr>
    </table>
    <div class="share-icons results-share-icons">
         <ul class="share-icons-list">
                <li class="share-text">Поделиться: </li>
                 <li>
                     <a href="" ng-click="share.vk()"><div class="share-icon vk-icon"></div></a>
                 </li>
             
                 <li>
                    <a href="" ng-click="share.fb()"><div class="share-icon fb-icon"></div></a>
                 </li>
                 <li>
                     <a href="" ng-click="share.tw()"><div class="share-icon tw-icon"></div></a>
                 </li> 
         </ul>
         <div class="vk-ico"></div>
         <div class="fb-ico"></div>
         <div class="tw-ico"></div>
      </div>
    <div class="result-buttons">
      <a href="" class="buttons button-result-left" ng-click="main.game.startNewGame();">Попробовать еще раз</a>
      <a href="" class="buttons button-result-right" ng-show="game.nextLevel" ng-click="main.game.startNewGame('next');">Следующий вирус</a>
    </div>
  </div>
</div>


<div 
  class="footer-container" 
  ng-include="'views/includes/footer.html'">
</div>