<div 
  class="tutorial-topbar-container topbar-container" 
  ng-include="'views/includes/topbar.html'">
</div>

<div class="container col-md-6 col-md-offset-3" ng-init="main.game.restart();">
  <div class="tutorial-editor text-center" data-tutorial-editor>
   <div class="vax-info" ng-show="editor.infoNum==5 && editor.vax>0">
       <span class="list-vax-icon vax-icon" ng-class="editor.vax>0 ? '' : 'vax-icon-deactive'"></span>
       <span class="list-vax-icon vax-icon" ng-class="editor.vax>1 ? '' : 'vax-icon-deactive'"></span>
       <span class="list-vax-text tutorial-vax-text">Осталось вакцин: {{editor.vax}}</span>
   </div>
    <div class="tutorial-info">
      <p class="text-center" ng-show="editor.infoNum==1">Есть вы, ваши друзья и друзья друзей.
Вместе эти связи образуют сеть.</p>
      <p class="text-center" ng-show="editor.infoNum==2">Если кто-то из вашей сети заболевает, инфекция начинает распространяться. Вы вакцинированы от гриппа?</p>
      <div class="radio-answer" ng-show="editor.infoNum==2">
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" ng-model="editor.infoAnsw" id="inlineRadio1" value="1"> Да
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" ng-model="editor.infoAnsw" id="inlineRadio2" value="2"> Нет
        </label>
      </div>
      <p class="text-center" ng-show="editor.infoNum==3 && editor.infoAnsw==1">Отлично, вероятность заразиться низкая! Но началась эпидемия и заболел кто-то из ваших друзей.</p>
      <p class="text-center" ng-show="editor.infoNum==3 && editor.infoAnsw==2">Началась эпидемия и ваш профиль заболел.</p>
      <p class="text-center" ng-show="editor.infoNum==4">Инфекция распространяется по сети и заражает остальных. Если ничего не делать, то высока вероятность, что все заболеют.</p>
      <p class="text-center" ng-show="editor.infoNum==5 && editor.vax>0">Вакцинация помогает ограничить распространение инфекции. Кликните на кружки чтобы вакцинировать их. Через вакцинированные кружки инфекция не сможет распространяться.</p>
      <p class="text-center info-five" ng-show="editor.infoNum==5 && editor.vax<=0">Отлично! С помощью вакцинации вы смогли разбить сеть на сегменты, это ограничит распространение инфекции. Но во время эпидемии вакцины могут не успеть сработать, поэтому используется карантин.
Вы можете отправлять в карантин кружки с высокой вероятностью заболеть. Попробуйте!</p>
    </div>
    <div class="prev-next-buttons" ng-show="editor.infoNum && editor.infoNum<6">
        <div class="prev-next-buttons-line"></div>
      <a class="prev-button-link" ng-click="editor.prevStep()" ng-show="editor.infoNum>1" href=""><i class="fa fa-angle-left" aria-hidden="true"></i> Назад</a>
      <a class="next-button-link" ng-show="editor.infoNum<5" ng-click="editor.nextStep()" href="">Далее <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="prev-next-buttons-line"></div>
    </div>
    <a class="skip-button" href="/#/game" ng-show="editor.infoNum && editor.infoNum<6">Пропустить и перейти к игре</a>
    <div class="tutorial-result-text" ng-show="editor.infoNum==6">
      <span class="title-detail tutorial-diagram-text">Распределение результатов</span>
      <div class="tutorial-result-cong">Поздравляем! Благодаря вакцинации и карантину {{editor.tutorialResult}}% сети не были инфицированы!</div>
      <a href="/#/game" class="buttons button-wider">Играть по-настоящему</a>
    </div>
  </div>
</div>

<div 
  class="footer-container" 
  ng-include="'views/includes/footer.html'">
</div>